= if get_flash(@conn, :info) do
  .alert.alert-info.text-center role="alert" = get_flash(@conn, :info)
= if get_flash(@conn, :error) do
  .alert.alert-danger.text-center role="alert" = get_flash(@conn, :error)
  